<div class="container">
<h1>Grid system （列幅の指定）</h1>
<div class="row">
<div class="col-sm-12" style="padding:0;background:#CCC;height:50px;">BOXA</div>
</div>
<div class="row">
<div class="col-md-8 col-sm-12" style="padding:0;background:#000;height:150px;">BOXB</div>
<div class="col-md-4 d-none d-md-block" style="padding:0;background:#999;height:150px;">BOXC</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-12" style="padding:0;background:#CCC;height:250px;">BOXD</div>
<div class="col-sm-12 d-block d-md-none" style="padding:0;background:#000;height:250px;">BOXE</div>
<div class="col-md-6 col-sm-12" style="padding:0;background:#999;height:250px;">BOXF</div>
</div>
</div>