<div class="container">        <!-- 全体を囲むコンテナ -->

<h1>Bootstrapの規定色</h1>

<h2>文字色の指定</h2>
<p class="text-primary">この文章はprimaryの文字色で表示しています。</p>
<p class="text-success">この文章はsuccessの文字色で表示しています。</p>
<p class="text-info">この文章はinfoの文字色で表示しています。</p>
<p class="text-warning">この文章はwarningの文字色で表示しています。</p>
<p class="text-danger">この文章はdangerの文字色で表示しています。</p>
<p class="text-muted">この文章はmutedの文字色で表示しています。</p>

<h2>背景色の指定</h2>
<p class="bg-primary">primaryの背景色を指定した場合</p>
<p class="bg-success">successの背景色を指定した場合</p>
<p class="bg-info">infoの背景色を指定した場合</p>
<p class="bg-warning">warningの背景色を指定した場合</p>
<p class="bg-danger">dangerの背景色を指定した場合</p>

</div>  