<form>
<p><b>オプションを指定してください</b></p>
<div class="form-check-inline"><label class="form-check-lable"><input type="radio" name="iro" class="form-check-input">赤</label></div>
<div class="form-check-inline"><label class="form-check-lable"><input type="radio" name="iro" class="form-check-input">黃</label></div>
<div class="form-check-inline"><label class="form-check-lable"><input type="radio" name="iro" class="form-check-input">白</label></div>

<p><b>オプションを指定してください</b></p>
<div class="form-check-inline"><label class="form-check-lable"><input type="checkbox" class="form-check-input">ギフト包装</label></div>
<div class="form-check-inline"><label class="form-check-lable"><input type="checkbox" class="form-check-input">配送日指定</label></div>
<div class="form-check-inline"><label class="form-check-lable"><input type="checkbox" class="form-check-input">メール</label></div>
</div>
</form>