<div class="jumbotron">
<h1>Bootstrap</h1>
<p>このサイトでは、Web作成に欠かせない……</p>
</div>
<div class="clearfix">
<form class="form-inline mt-4 float-right">
<div class="form-group mr-2">
<input type="text" class="form-control" placeholder="ユーザ名">
</div>
<div class="form- mr-2">
<input type="password" class="form-control" placeholder="パスワード">
</div>
<button class="btn btn-primary">ボタン</button>
</form>
</div>
<p class="mt-4">まずはBootstrapのダウンロード手順から紹介していきます。</p>