<div class="container">
<h1>Grid system （列幅の指定）</h1>
<div class="row">
<div class="col-sm-12 order-1" style="padding:0;background:#CCC;height:250px;">
<%= image_tag('castle-01',class:"img-fluid") %>
</div>
<div class="col-sm-6 order-3" style="padding:0;background:#999;height:250px;">
<%= image_tag('castle-02',class:"img-fluid") %>
</div>
<div class="col-sm-6 order-2" style="padding:0;background:#CCC;height:250px;">
<%= image_tag('castle-03',class:"img-fluid") %>
</div>
</div>
</div>