<div class="container">
<div class="jumbotron">
<h1>Bootstrap</h1>
<p>このサイトでは、Web作成に欠かせない……</p>
</div>
<h2 class="display-3 border-bottom">Bootstrapの導入</h2>
<p>まずはBootstrapのダウンロード手順から紹介していきます。</p>
</div>