<div class="card">
<div class="card-header bg-primary">CSSフレームワークとは？</div>

<div class="card-body">
<p>BootStrapは最近注目を集めている</p>
</div>
<div class="card-footer">更新日 2019/09/21</div>
</div>
</div>