<div class="container">
<h2 class="display-3 border-bottom">Grid system （列幅の指定）</h1>
<div class="d-block" style="height:20px;"></div>
<div class="media">
<%= link_to "#",class:"mr-3" do %>
<% image_tag('castle-s1') %>
<% end %>
<div class="media-body">
<h3 class="mt-0">西洋の城</h3>
軍事的な要塞もしくは・・・・
</div>
</div>
</div>