<div class="container">
<h3>観測地域</h3>
<ul  class="list-inline">
  <li class="list-inline-item">札幌</li> #横並び
  <li class="list-inline-item">仙台</li>
  <li class="list-inline-item">東京</li>
  <li class="list-inline-item">名古屋</li>
  <li class="list-inline-item">大阪</li>
  <li class="list-inline-item">福岡</li>
  <li class="list-inline-item">那覇</li>
</ul>
</div>