<div class="container">
<h1 class="display-3 border-bottom">Diary</h1>
<div class="d-block" style="height:20px"></div>
<div class="row">
<div class="col-md-8">BOXA</div>
<div class="col-md-4">
<ul class="media-list">
  <li class="media">
    <a href="#" class="mr-3">
    <%= image_tag("castle-s6",class:"img-rounded") %>
    </a>
    <div class="media-body">
      <h4 class="media-mt0">西洋の城</h3>
      <%= "軍事的な要塞もしくは貴族の住家として、中世に建てられた城が今でも数多く現存しています。その中にはホテルとして利用されている城もあり、場内を見学するだけでなく、宿泊や食事を楽しめる場合もあります。".truncate(20) %>
    </div>
  </li>
  <li class="media">
    <a href="#" class="mr-3">
      <%= image_tag("castle-s1",class:"img-rounded") %>
    </a>
    <div class="media-body">
     <h4 class="media-mt-0">日本の城</h3>
      <%= "大名や藩主の住居であり、政治的、軍事的な拠点としての役割を果たしてきた日本の城は、その多くが戦争、火災、天災により失われています。天守閣が当時のまま現存している城は数えるほどしかありません。".truncate(20) %>
    </div>
  </li>
</ul>
</div>
</div>
</div>
</div>