<div class="container">
<h3>プログラム</h3>
<div class="card" style="padding:20px;">
<ul class="list-unstyled  mx-auto">
<li>はじめに</li>
<li>各部門賞の発表</li>
<ul>
<li>技術賞</li>
<li>アイデア賞</li>
<li>デザイン賞</li>
</ul>
<li>グランプリの発表</li>
<li>総評</li>
</ul>
</div>
</div>